<div class="form">
    <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#register">Sign Up</a></li>
    </ul>
    <div class="tab-content">
        <div id="login">
            <h1>Welcome Back!</h1>
            <br>
            <form name="form" ng-submit="vm.login()" role="form">
                <div class="field-wrap form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username<span class="req">*</span></label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required autocomplete="off"/>
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="field-wrap form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password<span class="req">*</span></label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required autocomplete="off"/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <p class="forgot"><a href="#forgot">Forgot Password?</a></p>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button button-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
